fastapi
uvicorn
pyspark==3.5.0
pandas
psycopg2-binary==2.9.9
azure-storage-blob
python-dotenv
confluent-kafka==2.3.0
sqlalchemy
pyarrow
azure-identity==1.23.0
azure-keyvault-secrets==4.8.0
openpyxl>=3.1.5
six>=1.16.0