.cell-content-wrapper {
  position: relative;
}

/* hide by default */
.cell-content-wrapper .edit-pencil-icon {
  visibility: hidden;
}

/* show when parent TableCell is hovered */
.list-table-cell:hover .cell-content-wrapper .edit-pencil-icon {
  visibility: visible;
}
