@import 'tailwindcss';

* {
  font-family: 'Mulish', 'Lexend', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #888 #fff;
}

.loader {
  --c1: #f16137; /* default orange */
  --c2: #ffcfc1;
  width: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
  margin: 8px 0;
}

@keyframes l5 {
  0% {
    box-shadow:
      20px 0 var(--c1),
      -20px 0 var(--c2);
    background: var(--c1);
  }
  33% {
    box-shadow:
      20px 0 var(--c1),
      -20px 0 var(--c2);
    background: var(--c2);
  }
  66% {
    box-shadow:
      20px 0 var(--c2),
      -20px 0 var(--c1);
    background: var(--c2);
  }
  100% {
    box-shadow:
      20px 0 var(--c2),
      -20px 0 var(--c1);
    background: var(--c1);
  }
}

.placeholder-custom-color::placeholder {
  color: #7d98b6;
  font-size: 13px;
  font-weight: 400;
}

.custom-select-no-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
  font-size: 13px;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

@keyframes fade-bg {
  0%,
  70% {
    background-color: rgba(96, 165, 250, 0.3);
  }
  100% {
    background-color: #ececec;
  }
}

@keyframes fade-bg-white {
  0%,
  70% {
    background-color: rgba(96, 165, 250, 0.3);
  }
  100% {
    background-color: #fff;
  }
}

.attachment-icon {
  filter: invert(7%) sepia(0%) saturate(0%) hue-rotate(180deg) brightness(80%)
    contrast(90%);
}

.attachment-icon:hover {
  filter: brightness(0) saturate(100%) invert(23%) sepia(99%) saturate(2889%)
    hue-rotate(201deg) brightness(96%) contrast(101%);
}
.ql-font-sans {
  font-family: Arial, Helvetica, sans-serif;
}

.ql-font-serif {
  font-family: Georgia, Times, 'Times New Roman', serif;
}

.ql-font-monospace {
  font-family: 'Courier New', Courier, monospace;
}

.ql-size-small {
  font-size: 0.75rem;
}

.ql-size-normal {
  font-size: 1rem;
}

.ql-size-large {
  font-size: 1.5rem;
}

.ql-size-huge {
  font-size: 2.5rem;
}

/* markdown */
.markdown p {
  line-height: 25px;
}
.markdown ol > li,
.markdown ul > li {
  margin: 5px 10px;
}
.markdown a {
  color: #1755e7;
}
