@import 'tailwindcss';

* {
  font-family: 'Mulish', 'Lexend', sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #888 #fff;
}

.loader {
  width: 12px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1s infinite linear alternate;
  margin: 8px 0;
}
@keyframes l5 {
  0% {
    box-shadow:
      20px 0 #f16137,
      -20px 0 #ffcfc1;
    background: #f16137;
  }
  33% {
    box-shadow:
      20px 0 #f16137,
      -20px 0 #ffcfc1;
    background: #ffcfc1;
  }
  66% {
    box-shadow:
      20px 0 #ffcfc1,
      -20px 0 #f16137;
    background: #ffcfc1;
  }
  100% {
    box-shadow:
      20px 0 #ffcfc1,
      -20px 0 #f16137;
    background: #f16137;
  }
}

.placeholder-custom-color::placeholder {
  color: #7d98b6;
  font-size: 13px;
  font-weight: 400;
}

.custom-select-no-arrow {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: none;
  font-size: 13px;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

@keyframes fade-bg {
  0%,
  70% {
    background-color: rgba(96, 165, 250, 0.3);
  }
  100% {
    background-color: #ececec;
  }
}

@keyframes fade-bg-white {
  0%,
  70% {
    background-color: rgba(96, 165, 250, 0.3);
  }
  100% {
    background-color: #fff;
  }
}
